nav{
    background-color:#05404e;
}

.tableData{
    position: relative;
    margin:0 10px;
    box-shadow:0 0 7px rgb(224, 223, 223);
  }

  @media screen and (min-width:769px){

    .tableData{
      margin: 0px 22vw;
    }
}

.title{
  text-align: center;
    margin: 10px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #05404e;
    
}