<head>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="card-body">
                    <h6 class="card-title" id="artiTitle" style="text-align: center;">Today's Aarti NameList</h6>
                    <div id="content">
                        <ul class="timeline" *ngFor="let data of arrayName">
                            <li class="event" [attr.data-before]="data.Date | date:'dd/MM/yyyy'">

                                <span style="font-family: 'Averia Serif Libre', cursive;font-size:20px;">
                                    {{data.Name}}
                                </span>

                                <div style="margin-top:2px;font-size:14px;">
                                    {{data.Date | date:'shortTime'}}
                                </div>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data-date="8:00pm - 8:30pm" -->