<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div >
                <div class="card-body">
                    <h6 class="card-title" id="artiTitle" style="text-align: center;">Today's Aarti NameList</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="8:00pm - 8:30pm">
                                <h3>Yashraj Dawkhar</h3>
                                <p>Reach on time to get surprise</p>
                            </li>
                            <li class="event" data-date="8:00pm - 8:30pm">
                                <h3>Tejas Dawkhar</h3>
                                <!-- <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp; Busta Rhymes as an opening show.</p> -->
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>