<meta name="theme-color" content="#520044">
<nav>
    <span routerLink="/Home" routerLinkActive="active">Home </span>
    <span routerLink="/event" routerLinkActive="active">Event</span>
    <span routerLink="/Arti" routerLinkActive="active">Arti </span>
    <span routerLink="/donation" routerLinkActive="active">Donation</span>
    <span routerLink="/login" routerLinkActive="active" *ngIf="Notlogin">Login</span>
    <span routerLink="/dashboard" routerLinkActive="active" *ngIf="login">Dashboard</span>
</nav>
<div>
    
</div>
    <div id="cardhideMobile">
        <p-card class="card" pRipple  [header]="img.title |titlecase"
            [style]="{'width':'95vw','margin-bottom': '2px'}" *ngFor="let img of artiPhoto" >

            <ng-template pTemplate="header" styleClass="dark-panel">
                <img alt="Card" [src]="img.img" loading="lazy">
            </ng-template>


        </p-card>
    </div>
    <div id="cardhideTab">
        <p-card class="card" [header]="img.title |titlecase" [style]="{'width':'80vw','margin-bottom': '2em'}"
            *ngFor="let img of artiPhoto">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="img.img" loading="lazy">
            </ng-template>
        </p-card>
    </div>
    <div id="cardhideDekstop">
        <p-card class="card" [header]="img.title |titlecase" [style]="{'width':'50vw','margin-bottom': '2em'}"
            *ngFor="let img of artiPhoto">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="img.img" loading="lazy">
            </ng-template>
        </p-card>
    </div>

    <audio src="assets/audio.mp3" autoplay ></audio>