<meta name="theme-color" content="#410055">
<nav>
    <span routerLink="/Home" routerLinkActive="active">Home </span>
    <span routerLink="/event" routerLinkActive="active">Event</span>
    <span routerLink="/Arti" routerLinkActive="active">Arti </span>
    <span routerLink="/donation" routerLinkActive="active">Donation</span>
    <span routerLink="/login" routerLinkActive="active" *ngIf="Notlogin">Login</span>
    <span routerLink="/dashboard" routerLinkActive="active" *ngIf="login">Dashboard</span>
</nav>
<link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
<div class="main">
    <div class="firstImg">
        <h2 >Win Awesome Prizes</h2>
        <img src="assets/Svg/Winners_3_Person.svg" alt="">
    </div>
    <div class="firstImg">
        <h2 class="animate__animated animate__flipInX animate__infinite animate__slow">Games Like Never Before</h2>
        <h4>Running</h4>
        <img src="assets/Svg/Running_Flatline.svg" alt="">
    </div>
    <div class="firstImg">
        <h4 >Rope Skipping </h4>
        <img src="assets/Svg/Skipping%20rope-bro.svg" alt="">
    </div>
    <div class="firstImg">
        <h2 class="animate__animated animate__zoomInDown animate__infinite animate__slow">Excited To Win</h2>
        <img src="assets/Svg/Winners-2_girl_boy.svg" alt="">
    </div>
    
</div>