<app-nav-bar></app-nav-bar>

<div class="bgBody">



  <div class="logoutbtn">
    <button pButton pRipple type="button" label="Logout" class="p-button-outlined p-button-danger"
      (click)="logout()"></button>
  </div>


  <div class="elements">
    <span routerLink="arti">
      Home <br>
      Arti NameList
    </span>
    <span routerLink="eventupdate">
      Home <br>
      Event Updates
    </span>
    <span>
      Event <br>
      Game List
    </span>
    <span routerLink="donation">
      Donation <br> 
      Money List
    </span>

  </div>


</div>