span {
  width: 250px;
  height: 110px;
  padding: 30px 40px;
  box-shadow: 0px 0px 8px rgb(219 219 219 / 99%);
  background-color: rgb(214 214 214 / 13%);
  color: white;
  margin: 14px 4px 22px 4px;
  border-radius: 16px;
  font-family: Nunito;
  user-select: none;
}
.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 1020px) {
  .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  span {
    height: 200px;
    width: 150px;
    margin: 30px;
  }
}

span:hover {
  box-shadow: 0px 0px 20px rgba(216, 213, 213, 0.993);
}

.logoutbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0px 20px 0px;
}

@media screen and (min-width: 426px) {
  .bgBody {
    background-color: #380217;
    height: 100vh;
  }
}
@media screen and (max-width: 426px) {
  .bgBody {
    background-color: #380217;
    height: fit-content;
  }
}
