<link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">

<div class="timeline">

  <h3 style="font-family: 'Macondo', cursive;font-size: 26px;">Event Updates</h3>


  <div class="box">

    <div class="container" *ngFor="let data of events" loading="lazy">


      <div class="lines">
        <div class="dot"></div>
        <div class="line"></div>
      </div>

      <div class="cards">
        <div class="card" >

          <h4>{{data.Date |date}}</h4>
          <p>{{data.Desc}}</p>
        </div>
      </div>


    </div>

    <div style="height:105px;">

    </div>



    <div class="bottom">

      <div class="btn" routerLink="/event">Event Winner</div>

    </div>
  </div>


</div>
<!-- </div> -->