
*{
    margin: 0;
    padding: 0;
}
/* Navigation Bar css */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    overflow: auto;
    background-color: #011049;
    position: sticky;
    top: 0;
    z-index:10;
  }
  nav::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
  nav span {
   padding-bottom:2px;
    margin:12px 15px;
    color:rgb(228, 225, 225);
  }
  
  nav span.active {
    border-bottom:2px solid white;
    font-size:20px;
    font-family: 'Nunito', sans-serif;
    margin:8px 15px;
    color:white;
  }
  
  @media only screen and (min-width: 426px) {
    nav span {
      font-size: 1.3rem;
    }
  }
  @media only screen and (max-width: 426px) {
    nav span {
      font-size: 1.1rem;
    }
  }
  @media only screen and (max-width: 376px) {
    nav span {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 321px) {
    nav span {
      font-size: 1rem;
    }
  }
  