nav {
  background-color: #011049;
}

.picsum-img-wrapper {
  display: flex;
  justify-content: center;
}
.position1 {
  background-color: #011049;
}

.name {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 black;
  background-color: #011049;
  padding: 16px 13px;
}
.artiname {
  height: fit-content;
  width: 100%;
  color: white;
  background-image:linear-gradient( to bottom, #011049, #041656, #081c63, #0d2271, #11287f, #32398e, #4a4b9e, #6b69b8, #9b99d9, white );
  position: relative;
}
@media only screen and (min-width: 426px) {
  .picsum-img-wrapper {
    height: 420px;
  }
  .position1 {
    height: 426px;
  }
  .name {
    margin-top: 0;
    font-size: 26px;
    font-weight: 800;
  }
}
@media only screen and (max-width: 426px) {
  .picsum-img-wrapper {
    height: 225px;
  }
  .position1 {
    height: 224px;
  }
  .name {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 376px) {
  .picsum-img-wrapper {
    height: 198px;
  }
  .position1 {
    height: 200px;
  }
  .name {
    margin: 0px;
    font-size: 19px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 321px) {
  .picsum-img-wrapper {
    height: 171px;
  }
  .position1 {
    height: 169px;
  }
  .name {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
  }
}

.gameList{
  height: fit-content;
  background-color: rgb(255, 255, 255);
}

:host ::ng-deep .carousel-indicators{
  z-index:2 !important;
}