<div class="container">
    <h4 style="text-align: center;font-family: 'Permanent Marker', cursive;font-size:2rem;color: rgb(57, 0, 110);" >Games</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline2">
                <div class="timeline">
                    <span class="icon fa fa-globe"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            game info will be available here
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-rocket"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            game info will be available here
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-briefcase"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Designer</h3>
                        <p class="description">
                            game info will be available here
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            game info will be available here
                        </p>
                    </a>
                </div>
                
               
            </div>
        </div>
    </div>
</div>